.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
}

h1{
  margin-bottom: 1rem;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 24%;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.card-title {
  padding: 5px;
  font-size: 14px;
}

.card-offer {
  text-decoration: none;
  background-color: #57a436;
  color: #fff;
  padding: 4px 40px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .cards{
    justify-content: space-between;
    margin-left: 7rem;
    margin-top: -20rem;
  }

  h1{
    display: none;
  }
}